.main {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 15px 20px 70px;
  margin: 10px;
  width: 100%;
  font-family: "Comforter", sans-serif;
}

.main__title {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 400;
}

@media screen and (max-width: 227px) {
  .main {
    padding: 15px 1px;
  }
}
