.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form__select-dropdown {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.form__select {
  display: flex;
  gap: 10px;
  min-height: 25px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.form__option {
  min-height: 20px;
  background-color: #000000;
}

.form__input {
  min-height: 28px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0 5px;
}

@media screen and (max-width: 227px) {
  .form__select-dropdown {
    flex-direction: column;
  }
}
